# **Analysis on India District Health Survey Data**

This notebook contains analysis using SQL queries on data provided by [Ministry of Health and Family Welfare](http://)https://data.gov.in/resource/india-districts-factsheets-national-family-health-survey-nfhs-5-2019-2021. Data has been filtered to fetch important columns and ingested into Postgres Tables using Python Libaries and SQL Queries.

## Setup

In [ ]:
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

# Setup a database with name `tfio_demo` to be used
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS testdb;'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE testdb;'
!pip install psycopg2-binary

In [6]:
# Importing Python Libraries
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [7]:
data=pd.read_csv("../input/survey/Data.csv")

In [8]:
# Defining Postgres Connection
connection_string = {'host':'localhost',
                     'dbname':'testdb',
                     'user':'postgres',
                     'password':'postgres',
                     'port':5432}
connection = psycopg2.connect(**connection_string)

In [10]:
## Create Schema of district_health Table which contains health related attributes of districts of India
create_schema_query = """ Create table district_health 
(
District_Names varchar(250),
State_UT varchar(250),
Households_survey numeric(10,10),
 Women_interview numeric(10,10),
Men_interview numeric(10,10),
Female_attend_school_per numeric(10,10),
have_electricity_per numeric(10,10),
clean_fuel_for_cooking_per numeric(10,10),
health_insurance_per numeric(10,10),
Women_literacy_per numeric(10,10),
Institutional_births_per numeric(10,10),
Children_having_diarrhoea_ORS_per  numeric(10,10),
Children_having_diarrhoea_zinc_per  numeric(10,10),
Women_high_Blood_sugar_per numeric(10,10),
Women_veryhigh_Blood_sugar_per numeric(10,10),
Men_high_Blood_sugar_per numeric(10,10),
Men_veryhigh_Blood_sugar_per numeric(10,10),
Women_mildelyElevated_Blood_sugar_per numeric(10,10),
Women_undergone_screeningTest_cervicalCancer_per numeric(10,10),
Examination_breastCancer_per numeric(10,10),
Men_use_tobacco_per numeric(10,10),
Women_consume_alcohol_per numeric(10,10),
Men_consume_alcohol_per numeric(10,10)
);
 """
with connection.cursor() as cur:
  cur.execute("rollback")
  cur.execute("drop table district_health if not exists;")
  cur.execute(create_schema_query)

In [12]:
## Load data in district_health table from pandas dataframe  
engine = create_engine('postgresql://postgres:postgres@localhost:5432/testdb')
data.to_sql('district_health', engine, index = False)

In [13]:
# Show 10 Records of district_health Table
pd.read_sql_query("""select * from district_health limit 10;""",connection)

,District_Names,State_UT,Households_survey,Women_interview,Men_interview,Female_attend_school_per,have_electricity_per,clean_fuel_for_cooking_per,health_insurance_per,Women_literacy_per,...,Women_high_Blood_sugar_per,Women_veryhigh_Blood_sugar_per,Men_high_Blood_sugar_per,Men_veryhigh_Blood_sugar_per,Women_mildelyElevated_Blood_sugar_per,Women_undergone_screeningTest_cervicalCancer_per,Examination_breastCancer_per,Men_use_tobacco_per,Women_consume_alcohol_per,Men_consume_alcohol_per
0,Nicobars,Andaman & Nicobar Islands,882,764,125,78.0,97.9,56.9,2.7,87.5,...,7.4,3.9,9.6,4.4,23.2,13.4,13.2,76.8,29.6,64.5
1,North & Middle Andaman,Andaman & Nicobar Islands,874,789,108,82.7,93.2,61.3,2.1,84.0,...,7.2,6.4,9.1,6.9,18.4,1.7,0.3,70.5,5.1,45.3
2,South Andaman,Andaman & Nicobar Islands,868,844,134,84.7,99.6,91.9,1.2,86.7,...,7.5,9.5,9.3,7.8,12.7,1.3,0.7,50.8,1.7,32.8
3,Srikakulam,Andhra Pradesh,874,780,100,60.0,99.9,74.7,75.6,64.3,...,8.2,7.8,6.8,8.6,12.8,1.0,0.2,21.3,0.6,28.3
4,Vizianagaram,Andhra Pradesh,902,853,134,56.0,99.5,60.3,76.7,58.3,...,6.2,7.0,5.8,7.5,12.9,4.9,0.6,21.5,0.8,32.3
5,Visakhapatnam,Andhra Pradesh,869,818,112,66.8,99.6,72.9,64.9,69.5,...,6.1,8.6,7.3,8.5,12.1,1.7,0.7,22.8,1.3,30.2
6,East Godavari,Andhra Pradesh,888,824,105,75.4,98.8,80.3,66.4,77.9,...,7.5,12.7,9.2,15.5,13.0,1.9,1.0,25.5,0.7,25.9
7,West Godavari,Andhra Pradesh,884,841,122,75.4,99.3,86.8,67.6,77.0,...,7.3,13.1,7.2,10.4,14.7,7.1,1.8,21.8,0.2,23.6
8,Krishna,Andhra Pradesh,865,820,119,74.0,99.6,89.8,68.1,76.9,...,7.9,13.4,8.5,11.9,13.4,5.4,2.1,21.3,0.4,22.8
9,Guntur,Andhra Pradesh,851,807,93,64.9,99.2,91.7,71.1,68.5,...,7.8,13.0,10.7,13.4,14.7,6.5,0.2,25.4,0.2,24.5

## Analysis

**Analysis 1: What are the top 5 states on the basis of number of households surveyed?**

In [14]:
analysis1_query = """ 
select "State_UT" from(
select "State_UT",sum("Households_survey") as o from district_health
group by "State_UT"
order by o desc
limit 5) temp
"""
pd.read_sql_query(analysis1_query, connection)

         State_UT
0   Uttar Pradesh
1  Madhya Pradesh
2           Bihar
3       Rajasthan
4      Maharastra

**Analysis 2: What are the top 5 states on the basis of percentage of women in households surveyed?**

In [15]:
analysis2_query = """ 
select "State_UT" from(
select "State_UT",w/m as a from(
select "State_UT",sum(" Women_interview") as w,sum("Men_interview") as m from district_health
group by "State_UT"
) temp
order by a desc
limit 5)temp2
"""
pd.read_sql_query(analysis2_query, connection)

        State_UT
0   Lakshadweep
1          Bihar
2    Uttarakhand
3      Jharkhand
4  Uttar Pradesh

**Analysis 3: What is the top district in each state on the basis of Men Age 15 Years And Above Wih High (141-160 Mg/dl) Blood Sugar Level23 (%)?**

In [16]:
analysis3_query = """ 
select "District_Names","State_UT" from district_health
where ("State_UT","Men_high_Blood_sugar_per") in(
select "State_UT",max("Men_high_Blood_sugar_per") from  district_health
group by "State_UT")

"""
pd.read_sql_query(analysis3_query, connection)

                District_Names                                State_UT
0                     Nicobars               Andaman & Nicobar Islands
1                    Prakasam                           Andhra Pradesh
2             Lower Subansiri                        Arunachal Pradesh
3                    Tinsukia                                    Assam
4                      Munger                                    Bihar
5                   Chandigarh                              Chandigarh
6                   Dantewada                             Chhattisgarh
7                         Diu   Dadra and Nagar Haveli & Daman and Diu
8                   South Goa                                      Goa
9                    Mahesana                                  Gujarat
10                      Sirsa                                  Haryana
11                   Bilaspur                         Himachal Pradesh
12                     Kathua                          Jammu & Kashmir
13                    Kodarma                                Jharkhand
14                  Bangalore                                Karnataka
15                   Thrissur                                   Kerala
16                     Kargil                                   Ladakh
17                Lakshadweep                             Lakshadweep
18                 Agar Malwa                           Madhya Pradesh
19                     Mumbai                               Maharastra
20                Imphal West                                  Manipur
21           South Garo Hills                                Meghalaya
22                    Lunglei                                  Mizoram
23                      Wokha                                 Nagaland
24                 South West                             NCT of Delhi
25                   Nayagarh                                   Odisha
26                       Mahe                               Puducherry
27  Shahid Bhagat Singh Nagar                                   Punjab
28                  Dungarpur                                Rajasthan
29             South District                                   Sikkim
30                   Dindigul                               Tamil Nadu
31   Jayashankar Bhupalapally                                Telangana
32              North Tripura                                  Tripura
33                   Faizabad                            Uttar Pradesh
34          Udham Singh Nagar                              Uttarakhand
35           Dakshin Dinajpur                              West Bengal

**Analysis 4: Rank districts on the basis of less number of people having Men (age 15 Years And Above Wih Very High (>160 Mg/dl) Blood Sugar Level23 (%)?**

In [17]:
analysis4_query = """ 

select "District_Names", rank() over(order by "Men_veryhigh_Blood_sugar_per") as rank from  district_health

"""
pd.read_sql_query(analysis4_query, connection)

          District_Names  rank
0             Kra Daadi      1
1              Shupiyan      2
2                Ramban      3
3              Kishtwar      3
4                 Sukma      5
..                   ...   ...
701           Hyderabad    702
702              Kollam    702
703           Thanjavur    704
704      Pathanamthitta    705
705  Thiruvananthapuram    706

[706 rows x 2 columns]

**Analysis 5: Update and Clean column-Children with diarrhoea in the 2 weeks preceding the survey who received oral rehydration salts (ORS) (Children under age 5 years) (%)?**

In [ ]:
analysis5_query = """ 
update district_health
set "Children_having_diarrhoea_ORS_per "=0
where "Children_having_diarrhoea_ORS_per "='*'

"""
pd.read_sql_query(analysis5_query, connection)
with connection.cursor() as cur:
  cur.execute(analysis5_query)

pd.read_sql_query("""select "Children_having_diarrhoea_ORS_per " from district_health limit 10;""",connection)